@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  margin: 0px;
  background: #262626;
  font-family: 'Open Sans', arial !important;
}

.bx-logo{
  font-weight: bold;
}

#app-test{
   padding: 10px;
   color: #fff;
   text-align: left;
   font-size: 12px;
}

.table-test{
  margin-bottom: 10px;
}

.table-test .description-test th{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

.table-test h3 {
  margin: 5px 0px;
  position: relative;
  padding-left: 45px;
}

.table-test h3 i{
  font-size: 32px;
  position: absolute;
  left: 5px;
}

.test-fail {
  background: red;
  color: #fff;
  width: 100%;
}

.test-ok {
  background: green;
  color: #fff;
  width: 100%;
}

.test-ok .details,
.test-fail .details{
   padding: 5px;
   background-color: #2e2e2f;
   margin-top: 5px;
   word-wrap: break-word;
   display: none;
}

.table-test tr td{
  padding: 5px;
}

#status{
  text-align: left;
}

#status ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding: 10px;
}

#status ul li {
  display: inline-block;
  margin-right: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#status ul li:hover{
  text-decoration: underline;
}

#status ul li.total-tests{
   font-size: 20px;
}

#status ul li.success-tests{
   color: green;
}

#status ul li.fails-tests{
   color: red;
}

.table-test .info{
   padding-left: 45px;
}

.table-test .info a{
  color: #fff;
}